#app {
  padding: 2rem;
}

.container {
  width: 1200px; /* Can be modified when working on responsive */
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
.header-title {
  font-size: 2rem;
  text-align: center;
}
.header-search {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}
.header-search__input {
  margin-top: 2rem;
  min-width: 300px;
  width: 50%;
  border: 2px solid black;
  padding: 1rem 1.25rem;
  box-shadow: 1rem 1rem #a15ffb;
}

.header-text__links {
  color: #5e2ca5;
  text-decoration: none;
  letter-spacing: 0.8px;
}

.header-text {
  margin-top: 3rem;
  max-width: 500px;
  text-align: left;
}

.main {
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}

.section {
  max-width: 200px;
}

.section-header {
  font-size: 1.6rem;
  color: #a15ffb;
}

.section-list,
.section-list__item {
  padding: 0;
  margin: 0;
}
.section-list__item > a {
  color: #5e2ca5;
  text-decoration: none;
  letter-spacing: 0.8px;
  font-size: 0.9rem;
  transition: all 0.2s;
}
.section-list__item > a:hover {
  font-size: 1.1rem;
  text-decoration: underline;
}

.section-list__title {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-weight: 100;
  color: #333333;
}
/*
@media (max-width: 600px) {
  .main {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 600px) and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}
*/
/* Header Section */
.header-nav {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.menu-link {
  color: #fcfcfc;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header-btn {
  width: 152px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f8d24e;
  border: 0;
}

.header-btn:focus {
  color: #fff;
  fill: #fff;
  background-color: #0a8817;
  box-shadow: -5px -5px 5px #f8d24e;
}

.header-btn:hover {
  background-color: #0a8817;
  box-shadow: -5px -5px 5px #f8d24e;
}

.menu-link:hover,
.menu-link:focus {
  color: #f8d24e;
  transition: color 0.75s, transform 0.75s;
  transform: scale(1.1);
}

/* End of Header Section */

/* Hero Section */
.menu-list {
  display: flex;
  gap: 28px;
}

.hero-stat-lists {
  text-align: right;
  margin-left: auto;
  margin-top: 58px;
}

.hero-num {
  text-align: right;
  text-transform: uppercase;
  color: #131313;
  font-size: 46px;
  font-weight: 900;
}

.hero-num-description {
  color: white;
}

.hero-section {
  position: relative;
  display: flex;
  height: 500px;
  z-index: 0;
}

.hero-content {
  margin-top: 30px;
}

.hero-btn-list {
  display: flex;
  margin-bottom: 30px;
}

.hero-section-title {
  max-width: 367px;
  margin-bottom: 28px;
  font-size: 38px;

  max-width: 247px;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 32px;
  font-family: Seymour One;
  font-size: 26px;
  line-height: 1.3;
}

.hero-btn-product {
  color: #000;
  background: 0 0;
  border: 2px solid #f8d24e;
  border-radius: 10px;
  width: 134px;
  height: 42px;

  margin-right: 34px;
  padding: 12px 34px;
  font-size: 14px;
  line-height: 1.3;
}

.hero-btn-product:hover{
  border: 2px solid #0a8817;
}
.hero-btn-product:focus,
.hero-btn-about:focus {
  color: white;
}

.hero-btn-about:hover {
  color: #0a8817;
}

.hero-info {
  max-width: 220px;
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 14px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 19.6px */
  padding-top: 67px;
  padding-left: 10px;
}

.arrow-hero {
  position: absolute;
  top: 430px;
  left: 255px;
}

.hero-btn-about {
  color: #f8d24e;
  text-decoration: underline;
}

.hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-ice-cream {
  position: absolute;
  bottom: 0;
  right: 150px;
}

.hero-ice-cream img {
  max-width: 400px;
}

.hero-stat-list {
  text-align: right;
  margin: auto;
}

.hero-dots {
  position: absolute;
  z-index: -1;
  top: 110px;
  width: 100%;
}
/* End of Hero Section */

/* Products Section */
.products {
  background: url(./images/product-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.product-title {
  color: #131313;
  text-align: center;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-align: center;
}

.product-header-title {
  text-align: center;
  margin-bottom: 300px;
  color: #131313;
  font-family: "Seymour One";
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 2.16px;
  text-transform: uppercase;
}

.products-list {
  display: flex;
  justify-content: center;
  gap: 29px;
}

.product-item {
  max-width: 370px;
  padding: 165px 64px 16px;
  text-align: center;
  border-radius: 24px;
  flex-direction: column;
  position: relative;
  height: 536px;
}

.product-item:nth-child(1)::before {
  background: linear-gradient(
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

.product-item:nth-child(2)::before {
  background: linear-gradient(rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)),
    #d9d9d9;
  box-shadow: 0 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.product-item:nth-child(3)::before {
  background: linear-gradient(rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)),
    #d9d9d9;
  box-shadow: 0 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

.product-item::before {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translate(-50%);
}

.product-item::after {
  width: 300px;
  height: 300px;
  content: "";
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: -215px;
  left: 50%;
  transform: translateX(-50%);
}

.product-item:nth-child(1)::after {
  background-image: url("images/ice-cream.png");
  height: 200px;
  top: -110px;
}

.product-item:nth-child(2)::after {
  background-image: url("images/ice-coffee.png");
  height: 200px;
  top: -110px;
}

.product-item:nth-child(3)::after {
  background-image: url("images/milk-shake.png");
  height: 200px;
  top: -110px;
}

.product-item:nth-child(1) {
  background: #aec6a5;
}

.product-item:nth-child(2) {
  background: #efd478;
}

.product-item:nth-child(3) {
  background: #d6936d;
}

.product-item-title {
  margin-bottom: 66px;
  color: var(--Black, #131313);
  text-align: center;
  font-family: "Montserrat";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.product-item-description {
  color: #131313;
  text-align: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.64px;
  width: 246px;
  height: 142px;
}

.arrow-btn {
  background: none;
  border: none;
  margin-top: 50px;
}
.product-padding-section {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* End of Products Section */

/* Product About modal */
.modal {
  position: absolute;
  opacity: 1;
  box-sizing: border-box;
  pointer-events: auto;
  width: 100%;
  top: 0;
  left: 0;
}

.modal.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.product-about-modal {
  border-radius: 10px;
  border: 2px solid #f8d24e;
  background: #fcfcfc;
  width: 568px;
  position: relative;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  border: none;
  background: none;
  flex-shrink:0;
}
.modal-picture {
  width: 568px;
  height: 140px;
  margin-top: 24px;
  margin-bottom: 0;
  position: relative;
}
.modal-picture img {
  margin: 0 218px;
}
.modal-picture::before {
  content: "";
  z-index: 99;
  width: 132px;
  height: 132px;
  border-radius: 50%;
  position: absolute;
  top: 9%;
  left: 218px;
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7) 0%,
      rgba(156, 190, 143, 0.7) 100%
    ),
    #d9d9d9;
  box-shadow: 0px 5.2602739334106445px 19.72602653503418px
    rgba(10, 136, 23, 0.25);
}

.modal-picture::after {
  width: 132px;
  height: 132px;
  content: "";
  z-index: 99;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 4%;
  left: 218px;
  background-image: url(./images/ice-cream.png);
}

.about-modal-header {
  color: #131313;
  text-align: center;
  font-family: "Seymour One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 32px;
}

.nutrients-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}

.nutrient-item {
  border-radius: 40px;
  border: 2px solid #9cbe8f;
  width: 65px;
  height: 90px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nutrient-grams {
  background: #9cbe8f;
  box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);
  width: 53px;
  height: 53px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #131313;
  text-align: center;
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 2.33;
}
.nutrient-type {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #131313;
  font-family: "Montserrat";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 6px;
}

.ingredients {
  color: #131313;
  text-align: center;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 48px;
}

.ingredients-lists-container {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}

.ingredients-lists {
  list-style: none;
  color: #131313;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.56px;
}

.ingredient-item,
.ingredient-weight {
  padding-top: 11px;
  color: #131313;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.56px;
}

.product-about-modal-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 0;
}

.about-modal-form {
  width: 368px;
  height: 42px;
  border-radius: 10px;
  border: 1px solid #84a178;
  background: rgba(248, 210, 78, 0.1);
}

.about-modal-form::placeholder {
  padding: 11px 16px;
  color: #131313;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}
.comment-container {
  width: 368px;
  height: 84px;
  resize: none;
}

.form-submit {
  width: 121px;
  height: 42px;
  border-radius: 10px;
  background: #f8d24e;
  margin-top: 32px;
  border: none;
  margin-bottom: 32px;
}
/* END OF PRODUCT ABOUT MODAL */

/* Advantages Section */

.advantage {
  background-color: #84a178;
  color: #fcfcfc;
  margin-bottom: 200px;
}

.advantage-title {
  text-align: center;
}

.first-title {
  padding-top: 60px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 800px;
  line-height: 36.57px;
  letter-spacing: 4%;
}

.second-title {
  font-weight: 400px;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 6px;
  margin-bottom: 30px;
}

.advantage-wrapper {
  display: flex;
  gap: 109px;
  align-items: center;
}

.advantage-cow {
  max-width: 500px;
  margin-left: 40px;
  margin-bottom: 60px;
}

.advantage-text-item {
  margin-bottom: 8px;
}

.advantage-bottom-item {
  display: inline-flex;
  flex-direction: column;
  width: calc((100% - 48px) / 3);
  align-items: center;
  text-align: center;
}

.advantage-bottom-div {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  margin: auto;

  background-color: #f8d24e;
}

.advantage-bottom-head {
  color: #fcfcfc;
  text-align: center;
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.32px;
  text-transform: uppercase;
}

.advantage-bottom-text {
  color: #fcfcfc;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 176%; /* 28.16px */
  letter-spacing: 0.32px;
  text-wrap: wrap;
}

.advantage-text-div {
  display: flex;
  flex-direction: column;
  padding-right: 121px;
  gap: 54px;
}

.advantage-text-description {
  color: #fcfcfc;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.64px;
}
.read-more-btn {
  width: 164px;
  color: #131313;
  background-color: #f8d24e;
  border: #f8d24e;
  border-radius: 10px;
  align-items: center;
  gap: 4px;
  padding: 12px 30px 12px 34px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  display: inline-flex;
}
.read-more-btn:hover {
    background-color:#0A8817;
}
.read-more-btn:focus {
  background-color: #0A8817;
  color: #FCFCFC;
}

/* End of Advantages Section */

/* Customers Reviews Section */

.customers-review {
  background: url(./images/product-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 0 200px;
  height: 1140px;
}

.customers-review-wrapper {
  position: relative;
}

.customers-carousel {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  margin: 0 auto;
}

.carousel-item {
  width: 100%;
  padding: 1em;
  color: white;
  display: none;
  &.item-selected {
    display: block;
  }
}

.carousel-nav {
  width: 100%;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
.carousel-button {
  width: 10px;
  height: 10px;

  display: inline-block;
  /*allow us to give a height to the object*/

  background: #cecece;
  border-radius: 50%;
  margin: 0 5px;
  /*   adds a cursor change to read it as a button */
  cursor: pointer;

  &.button-selected {
    background: #84a178;
  }
}

.carousel-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 32px;
}

.carousel-item-img {
  border-radius: 24px;
  width: 100%;
  max-width: 1013px;
  height: 422px;
  object-fit: cover;
  margin-bottom: 140px;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
}

.carousel-item-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carousel-item-text-description {
  height: 138px;
  width: 100%;
  max-width: 968px;
  background-color: #84a178;
  /* padding: 43px 109px; */
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item-text-name {
  margin: 32px 0 42px;
  color: #131313;
  font-weight: 600;
}

/* Contacts Section */
.contacts {
  position: relative;
  background-color: #84a178;
  width: 100%;
  height: 500px;
  max-width: 1013px;
  margin: 0 auto;
}

.contacts-wrapper {
  position: absolute;
  top: -20%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.contacts-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.contacts-btn {
  padding: 10px 10px 10px 20px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  background: #f8d24e;
  border: 3px solid #f8d24e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-btn-outline {
  padding: 10px 10px 10px 20px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  background: transparent;
  border: 3px solid #f8d24e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts-btn-outline:hover {
  background: #f8d24e;
  color: #000;
}

.contacts-btn-icon-svg {
  fill: #000;
  margin-right: 10px;
}

.contacts-lists {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 32px;
}

.contacts-item {
  height: 542px;
  width: 100%;
  max-width: 368px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  padding: 30px;
}

.contacts-info-lists {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.contacts-info-item {
  width: 100%;
  max-width: 368px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 30px;
}

.contacts-info-item:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

.contacts-title {
  background-color: #f8d24e;
  padding: 10px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  color: #131313;
  text-transform: uppercase;
}

.contacts-subtitle {
  font-size: 16px;
  color: #131313;
  font-weight: 600;
}

.contacts-text-colored {
  color: #d6936d;
  font-size: 14px;
}

.contacts-text-colored:hover {
  text-decoration: underline;
  cursor: pointer;
}

.contacts-text {
  font-size: 16px;
  color: #131313;
  font-weight: 400;
}

/*Footer*/

.footer-page {
  padding-top: 120px;
  display: block;
  background-color: #84a178;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-title {
  color: #fcfcfc;
  justify-content: left;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding-left: 0;
}

.footer-strong {
  color: #fcfcfc;
  justify-content: left;
  font-family: Montserrat;
  font-size: 58px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding-left: 0;
}

.footer-line {
  padding-bottom: 60px;
  border-right: none;
}
.boundary {
  padding: 12px 0;
}

.social-and-contacts {
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

.social-media-list {
  gap: 20px;
  margin-bottom: 28px;
  display: flex;
  width: 136px;
  list-style: none;
  flex-wrap: wrap;
  align-items: end;
  margin-left: auto;
}

.social-media-icon-svg {
  fill: #84a178;
}

.social-media-icon:focus,
.social-media-icon:hover svg {
  fill: white;
}
.contact-item {
  color: #131313;
  text-align: right;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%; /* 29.76px */
  letter-spacing: 0.32px;
}

.contact-number {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.boundary {
  color: #7a7a7a;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 186%; /* 22.32px */
  letter-spacing: 0.24px;
}
